<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SkyShootBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint
        address="net.tcp://127.255.0.3:777"
        binding="netTcpBinding"
        bindingConfiguration="SkyShootBinding"
        contract="SkyShoot.Contracts.Service.ISkyShootService"
        name="SkyShootEndpoint" />
      <endpoint
        address="net.tcp://127.255.0.3:777"
        binding="netTcpBinding"
        bindingConfiguration="SkyShootBinding"
        contract="SkyShoot.Contracts.Service.ISkyShootLogin"
        name="SkyShootLoginEndpoint" />
    </client>
  </system.serviceModel>
</configuration>