<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SkyShoot.Game.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SkyShoot.Game.game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SkyShootBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>    
    <client>
      <endpoint
        address="net.tcp://localhost:777/SkyShootService"
        binding="netTcpBinding"
        bindingConfiguration="SkyShootBinding"
        contract="SkyShoot.Contracts.Service.ISkyShootService"
        name="SkyShootEndpoint" />
    </client>
  </system.serviceModel>
  <userSettings>
    <SkyShoot.Game.Game>
      <setting name="login" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>4815162342</value>
      </setting>
    </SkyShoot.Game.Game>
    <SkyShoot.Game.game>
      <setting name="login" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>4815162342</value>
      </setting>
    </SkyShoot.Game.game>
  </userSettings>
</configuration>