<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SkyShootBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>    
    <client>
      <endpoint address="net.tcp://localhost:777/SkyShootService" binding="netTcpBinding"
        bindingConfiguration="SkyShootBinding" contract="SkyShoot.Contracts.Service.ISkyShootService"
        name="SkyShootEndpoint" />
    </client>
  </system.serviceModel>
</configuration>